a {
	font-size: 30px;
}
.menu {
	font-size: 20px;
}
body{
	background-color: #566270;
}
.blocklist {

	background-color: #282c37;
	height:1000px;
	width: 80%;
	margin:30px;
	margin-left:15%;
	box-shadow: 3px 3px 3px #000000;
	border-radius:10px ;
	position: relative ;
}

#ok {
	width: 80%;

}
li {
	color:white;
	text-decoration: none;
}
ul {
	text-decoration: none;
}
.raye { 
	text-decoration: line-through;
	background-color : green;
	color: black;
}
